div {
  font-family: 'Roboto', sans-serif;
}

.center {
    margin: auto;
}

input[type=number] {
  width: 40px;
}

.group {
  width: 60px;
}

.filter {
  width: 100px;
}

button {
  background-color: #4ddbff;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.small {
  padding: 6px 2px;
}

button:disabled {
  background-color: #767d87;
}

th {
  text-align: left;
}

a {
  color: #4ddbff;
}

.newCompetitor {
  color: crimson;
}

.staff {
  color: forestgreen;
}

.invalidAssignment {
  border: 1px solid red;
}

input.competingButNoGroup {
  border: 2px solid red;
}

input.notCompeting {
  border: 1px dotted lightgray;
}

.red {
  color: darkred;
}

h1, h6 {
  display: inline-block;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}
