div {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin: auto;
}

input[type=number] {
  width: 40px;
}

.group {
  width: 60px;
}

.filter {
  width: 100px;
}

button {
  background-color: #1596bc;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}

.small {
  padding: 6px 2px;
}

button:disabled {
  background-color: #767d87;
}

th {
  text-align: left;
}

a {
  color: #1596bc;
}

.newCompetitor {
  color: crimson;
}

.staff {
  color: forestgreen;
}

input.competingButNoGroup {
  border: 2px solid red;
}

input.invalidAssignment {
  border: 1px solid red !important;
}

input.notCompeting {
  border: 1px dotted lightgray;
}

.red {
  color: darkred;
}

h1, h6, a.headerLink {
  display: inline-block;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.material-symbols-outlined {
 font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 24
}
