<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="content">
<mat-drawer-container class="example-container" autosize>

  <h1>Advanced Group Editor (AGE)</h1>&nbsp;<h6>{{version()}}</h6>&nbsp;
  <a class="headerLink" href="https://github.com/Goosly/AGE/wiki" target="_blank"><i class="fa fa-book"></i> Wiki</a>&nbsp;
  <a class="headerLink" href="https://github.com/Goosly/AGE" target="_blank"><i class="fa fa-github"></i> Github</a>

<!-- LOGIN -->
  <div *ngIf="! apiService.oauthToken">
    <button (click)="handleLoginToWca()">First: login</button><br>
  </div>

<!-- SELECT COMP -->
  <div *ngIf="apiService.oauthToken && ! competitionId">
    <p>Welcome{{!! userNameShort ? ', ' + userNameShort : ''}}!</p>
    <div *ngIf="!loadingWcif">
      <p>Select a competition:</p>
      <p *ngFor="let competitionId of competitionsToChooseFrom">
        <button (click)="handleCompetitionSelected(competitionId)">{{competitionId}}</button>
      </p>
      <p *ngIf="!!competitionsToChooseFrom && competitionsToChooseFrom.length === 0">You don't have any competition available :-(</p>
    </div>
    <div *ngIf="loadingWcif">
      <p><i class="fa fa-hourglass-half"></i> Loading...</p>
    </div>
  </div>

<!-- INFORMATION ABOUT COMP -->
  <div *ngIf="competitionId && groupService.wcif && ! readyForExport">
    <p> Selected competition: {{ competitionId }}<br>
    {{ numberOfEvents }} events and {{ numberOfCompetitors }} competitors found</p>

    <p>You have two options: import existing assignments (start from 1), or start generating assignments from scratch (start from 2). Continue below:</p>

    <!-- IMPORT -->
    <h3>Import groups (1)</h3>
    <p class="red" *ngIf="canImportFromWcif">Some assignments are already saved for this competition. Would you like to import them?
      <button [disabled]="groupsGenerated" (click)="handleImportFromWcif()">Yes, import</button></p>
    <p>Import assignments from a CSV file <a ngHref='#here' (click)='exportService.csvGroupAndTaskAssignmentsExampleImport(groupService.wcif)'>(click for an example)</a>?
      <input type="file" id="importCsv" [disabled]="groupsGenerated" accept=".csv"/>
      <button [disabled]="groupsGenerated" (click)="handleImportGroupsFromCsv()">Import CSV</button>
      <span *ngIf="groupsGenerated && importFromCsvStrategy"> &#10004; Imported {{competitorCounterFromCsv}} competitors</span></p>
  </div>

<!-- GENERAL CONFIGURATION -->
  <div *ngIf="competitionId && groupService.wcif && ! readyForExport">
    <div  *ngIf="! importStrategy">
      <h3>General configuration (2)</h3>
      <select class='form-control' [disabled]="groupsGenerated" [(ngModel)]='groupService.configuration.groupStrategy'>
        <option value='basic'>Random groups (no staff assignments)</option>
        <option value='basicBySpeed'>Groups by speed, fast first (no staff assignments)</option>
        <option value='basicBySpeedReverse'>Groups by speed, fast last (no staff assignments)</option>
        <option value='advanced'>Groups with staffing for one group in every event one competes in</option>
      </select><br><br>

      <div *ngIf="advancedStrategy">
        We'll be using <input type="number" [(ngModel)]="groupService.configuration.totalNumberOfTimers" (ngModelChange)="handleTotalNumberOfTimersSet($event)" min="1" step="1" [disabled]="groupsGenerated"> timers in total<br><br>

        <age-info-icon info="Select your CSV file that contains trusted scramblers and capable runners"></age-info-icon>

        Select scramblers and runners <a ngHref='#here' (click)='exportService.staffExample(groupService.wcif)'>(click for an example)</a>: <input type="file" id="staff" [disabled]="groupsGenerated" accept=".csv"/><br>

        <age-info-icon info="Or let AGE pick scramblers and runners"></age-info-icon>

        Alternatively: <input type="checkbox" [(ngModel)]="groupService.configuration.autoPickScramblersAndRunners" [disabled]="groupsGenerated"><label>Let AGE pick scramblers and runners</label>
        <br><br>

        <input type="checkbox" [(ngModel)]="groupService.configuration.doNotAssignJudges" [disabled]="groupsGenerated"><label>Do not assign judges (only scramblers & runners)</label><br>
        <input type="checkbox" [(ngModel)]="groupService.configuration.doNotAssignTasksToNewCompetitors" [disabled]="groupsGenerated"><label>Do not assign new competitors to judging</label><br>
        <input type="checkbox" [(ngModel)]="groupService.configuration.skipDelegatesAndOrganizers" [disabled]="groupsGenerated"><label>Do not assign delegates and organizers to judging</label><br>
        <input type="checkbox" (click)="toggleUseStages()" [disabled]="groupsGenerated"><label>Use stages (the default will be 2 stages)</label><br>
        <input type="checkbox" [(ngModel)]="groupService.configuration.fixedSeating" [disabled]="groupsGenerated"><label>Use fixed seating (no waiting area)</label>

        <age-info-icon info="For events with more than 2 scramblegroups, AGE will try to provide a judge for every competitor"></age-info-icon>
      </div>
    </div>

<!-- EVENTS CONFIGURATION -->
    <div *ngIf="! importStrategy">
      <h3>Events configuration</h3>
      <table>
        <tr>
          <th></th>
          <th *ngFor="let event of groupService.wcif.events">{{ event.id }}</th>
        </tr>

        <tr>
          <td>(C) Competitors</td>
          <td *ngFor="let event of groupService.wcif.events">{{event.numberOfRegistrations}}</td>
        </tr>

        <tr>
          <td><age-info-icon info="Do not generate groups for this event. You'll have to assign groups and tasks yourself."></age-info-icon>
            Skip event</td>
          <td *ngFor="let event of groupService.wcif.events">
            <input type="checkbox" [(ngModel)]="event.configuration.skip" [disabled]="groupsGenerated">
          </td>
        </tr>
        <tr>
          <td>Scramblegroups</td>
          <td *ngFor="let event of groupService.wcif.events">
            <input type="number" [(ngModel)]="event.configuration.scrambleGroups" min="2" step="1" [disabled]="groupsGenerated" [hidden]="event.configuration.skip">
          </td>
        </tr>
        <tr *ngIf="advancedStrategy && groupService.configuration.useMultipleStages">
          <td>Stages</td>
          <td *ngFor="let event of groupService.wcif.events">
            <input type="number" [(ngModel)]="event.configuration.stages" (ngModelChange)="handleNumberOfStagesSet($event, event.id)" min="1" step="1" [disabled]="groupsGenerated" [hidden]="event.configuration.skip">
          </td>
        </tr>
        <tr *ngIf="advancedStrategy">
          <td><age-info-icon info="Number of groups is scramblegroups multiplied by stages"></age-info-icon>
            Number of groups</td>
          <td *ngFor="let event of groupService.wcif.events"><div [hidden]="event.configuration.skip">{{event.configuration.scrambleGroups * event.configuration.stages}}</div></td>
        </tr>
        <tr>
          <td><age-info-icon info="Number of competitors divided by number of groups"></age-info-icon>
            Average competitors</td>
          <td *ngFor="let event of groupService.wcif.events"><div [hidden]="event.configuration.skip">{{Math.round(event.numberOfRegistrations / (event.configuration.scrambleGroups * event.configuration.stages) * 10) / 10}}</div></td>
        </tr>
        <tr *ngIf="advancedStrategy">
          <td><age-info-icon info="Total number of timers divided by number of stages. This will be the maximum number of assigned judges per group."></age-info-icon>
            (J) Timers per stage</td>
          <td *ngFor="let event of groupService.wcif.events"><div [hidden]="event.configuration.skip">{{Math.round(event.configuration.timers * 10) / 10}}</div></td>
        </tr>
        <tr *ngIf="advancedStrategy">
          <td><age-info-icon info="Amount of runners you want per group"></age-info-icon>
            (R) Runners</td>
          <td *ngFor="let event of groupService.wcif.events">
            <input type="number" [(ngModel)]="event.configuration.runners" min="0" step="1" [disabled]="groupsGenerated" [hidden]="event.configuration.skip">
          </td>
        </tr>
        <tr *ngIf="advancedStrategy">
          <td><age-info-icon info="Amount of scramblers you want per group"></age-info-icon>
            (S) Scramblers</td>
          <td *ngFor="let event of groupService.wcif.events">
            <input type="number" [(ngModel)]="event.configuration.scramblers" min="1" step="1" [disabled]="groupsGenerated" [hidden]="event.configuration.skip">
          </td>
        </tr>
      </table>

      <br>
      Edit all options until you're happy, then click: <button [disabled]="groupsGenerated" (click)="handleGenerate()">I'm ready, let's generate groups & tasks</button><br>
    </div>

<!-- EDIT COMPETITORS GROUPS -->
    <div *ngIf="groupsGenerated">
      <h3>Competitors & group/task assignments</h3>
      Edit all groups and task assignments until you're happy, then click: <button (click)="handleExport()">I'm ready, let's save & export</button><br>
      You can also sort the competitors by the assignments of an event<span *ngIf="! importStrategy">, or re-generate a suggestion for the assignments of an entire event</span><br><br>

      Filter by name: <input type="text" class="filter" [(ngModel)]="filter" (ngModelChange)="handleFilterChanged($event)"/>
      <table>
        <tr>
          <th>WCA Link</th>
          <th>Age</th>
          <th>Name</th>
          <th *ngFor="let event of groupService.wcif.events">{{ event.id }}</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><button (click)="handleSortCompetitorsByName()">Sort by name</button></td>
          <td *ngFor="let event of groupService.wcif.events"><button class="small" (click)="handleSortByEvent(event)">Sort by group</button></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td *ngFor="let event of groupService.wcif.events"><button class="small" (click)="handleSortBySpeedInEvent(event)">Sort by speed</button></td>
        </tr>
        <tr *ngIf="! importStrategy">
          <td></td>
          <td></td>
          <td></td>
          <td *ngFor="let event of groupService.wcif.events">
            <button [disabled]="event.configuration.skip" class="small" (click)="handleGenerateOneEvent(event.id)">{{basicBySpeedStrategy ? 'By speed' : 'Randomize'}}</button></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td>Competitors</td>
          <td *ngFor="let event of groupService.wcif.events">{{event.numberOfRegistrations}}</td>
        </tr>

        <tr *ngFor="let group of groupCounter; let i = index" [attr.data-index]="i">
          <td></td>
          <td></td>
          <td><age-info-icon info="C|J|R|S is short for Competitors| Judges| Runners| Scramblers. The numbers will be updated when you make a change to the assignments."></age-info-icon>
            C|J|R|S Group {{i + 1}}</td>
          <td *ngFor="let event of groupService.wcif.events">{{ event.configuration.skip || ! event.groupCounters || event.groupCounters.length === 0 ? '' : event.groupCounters[i] }}</td>
        </tr>

        <tr *ngFor="let competitor of competitorsToShow; index as c">
          <td><a *ngIf="competitor.wcaId" [href]="'https://www.worldcubeassociation.org/persons/' + competitor.wcaId" target="_blank">WCA ({{competitor.wcaId}})</a></td>
          <td>{{ competitor.age }}</td>
          <td [ngClass]="{'newCompetitor': ! competitor.wcaId, 'staff': competitor.isStaff}">{{ competitor.name }}</td>
          <td *ngFor="let event of groupService.wcif.events; index as e">
            <input class="group"
                   [ngClass]="{'competingButNoGroup': competingButNoGroup(competitor, event.id), 'notCompeting': notCompeting(competitor, event.id)}"
                   [(ngModel)]="competitor[event.id].group"
                   [tabIndex]="e * competitorsToShow.length + c + 1"
                   (blur)="handleBlurEvent($event.target, competitor[event.id].group, event.id)">
          </td>
        </tr>
      </table>
    </div>
  </div>

<!-- EXPORT STUFF -->
  <div *ngIf="readyForExport">
    <h3>Export</h3>
    Want to go back to make more changes? <button (click)="handleBackToEdit()">Go back to editing</button><br>

    <h4>Save to WCA</h4>
<!--    <p><button (click)="drawer.toggle()">Edit station numbers</button>&nbsp;<i class="fa fa-arrow-right"></i> New! (And experimental <i class="fa fa-smile-o"></i>)</p>-->
    <p>
      <button (click)="handleSaveGroupsAndAssignmentsToWcif()">Save groups & assignments</button>
      <span *ngIf="wcifSaved === 'FALSE'">&nbsp;Note: this may take up to 20 seconds for large competitions</span>
      <span *ngIf="wcifSaved === 'TRUE'"> &#10004; Successfully saved</span>
      <span *ngIf="wcifSaved === 'SAVING'"> Saving...</span>
      <span *ngIf="wcifSaved === 'ERROR'"> &#10005; Error while saving{{!! wcifSaveError?.error?.error ? (': ' + wcifSaveError?.error?.error) : ''}}</span>
    </p>
    <p>This will allow other tools, like <a href="https://www.competitiongroups.com/" target="_blank">competitiongroups</a> and <a href="https://bestsiteever.ru/cutifier/" target="_blank">Cutifier</a> to read the groups and assignments.</p>

    <h4>Download files</h4>
    <p><button (click)="exportService.pdfRegistrationLists(groupService.wcif)">Registration lists (2 PDFs)</button></p>
    <p><button (click)="exportService.csvGroupAndTaskAssignments(this.groupService.wcif)">All group + task assignments (CSV)</button></p>
    <p><button (click)="exportService.pdfTableGroupAndTaskAssignments(this.groupService.wcif, this.groupService.configuration)">All group + task assignments (PDF)</button></p>
    <p><button (click)="exportService.pdfGroupOverview(this.groupService.wcif)">Overview per group with names of all competitors, judges, scramblers and runners (PDF)</button></p>
    <p><button (click)="exportService.pdfPersonalSchedules(this.groupService.wcif, this.groupService.configuration)">Personal schedules + nametags (PDF)</button>
        <input type="checkbox" [(ngModel)]="groupService.configuration.bordersOnNametags"><label>Show light borders for cutting and folding</label></p>

    <h4>Download scorecards</h4>
    <p><input type="checkbox" [(ngModel)]="groupService.configuration.printStationNumbersOnScoreCards"><label>Print station numbers in top right corner</label></p>
    <p><button (click)="scoreCardsService.printScoreCardsForAllFirstRoundsExceptFMC(this.groupService.wcif, false)">Scorecards of all first rounds on A4, 4 per page (PDF)</button> (Note: this may take a few seconds for small competitions, and up to 20 seconds for large ones)</p>
    <p><button (click)="scoreCardsService.printScoreCardsForAllFirstRoundsExceptFMC(this.groupService.wcif, true)">Scorecards of all first rounds on A6 (PDF)</button>&nbsp;<i class="fa fa-arrow-right"></i> New! </p>
    <p><button (click)="scoreCardsService.printFourEmptyScorecards(this.groupService.wcif)">4 Empty scorecards on A4 (PDF)</button></p>
    <p><button (click)="scoreCardsService.printOneEmptyScorecardOnA6(this.groupService.wcif)">1 Empty scorecard on A6 (PDF)</button>&nbsp;<i class="fa fa-arrow-right"></i> New! </p>
  </div>

  <mat-drawer #drawer class="example-sidenav" mode="over" disableClose>
    <h2>Configuration of rooms</h2>

    <div *ngFor="let room of getRooms; index as i">
      <div style="margin-bottom: 0.5rem">
<!--        <input type="text" matInput [(ngModel)]="room.name" style="margin-right: 0.5rem">-->
        <input type="color" matInput [(ngModel)]="room.color" style="margin-right: 0.5rem" disabled="true">
        <span style="margin-right: 0.5rem">{{room.name}}</span>
        Station numbers start from: <input type="number" matInput [(ngModel)]="room.stationNumberFrom" style="margin-right: 0.5rem">
<!--        <input type="number" matInput [(ngModel)]="room.stationNumberTo" style="margin-right: 0.5rem">-->
<!--        <button (click)="groupService.splitRoom(i)">Split this room into 2 stages</button>-->
      </div>
    </div>

    <input type="checkbox" [(ngModel)]="groupService.configuration.printColorsOnTableOverview"><label>Include stage colors on table overview</label><br>
    <input type="checkbox" [(ngModel)]="groupService.configuration.printColorsOnPersonalSchedules"><label>Include stage colors on personal schedules</label><br>

    <button (click)="drawer.toggle(); openConfirmSaveWcif()">Confirm</button>
  </mat-drawer>
</mat-drawer-container>
</div>
