<div class="center">
  <h1>Advanced Group Editor (AGE)</h1>

<!-- LOGIN -->
  <div *ngIf="! apiService.oauthToken">
    <button (click)="handleLoginToWca()">First: login</button><br>
  </div>

<!-- SELECT COMP -->
  <div *ngIf="apiService.oauthToken && ! competitionId">
    <p>Welcome!</p>
    <p>Select a competition:</p>
    <p *ngFor="let competitionId of competitionsToChooseFrom">
      <button (click)="handleCompetitionSelected(competitionId)">{{competitionId}}</button>
    </p>
    <p *ngIf="!!competitionsToChooseFrom && competitionsToChooseFrom.length === 0">You don't have any competition available :-(</p>
  </div>

<!-- INFORMATION ABOUT COMP -->
  <div *ngIf="competitionId && groupService.wcif">
    <p> Selected competition: {{ competitionId }}<br>
    {{ numberOfEvents }} events and {{ numberOfCompetitors }} competitors found!</p>
  </div>

<!-- GENERAL CONFIGURATION -->
  <div *ngIf="competitionId && groupService.wcif && ! readyForExport">
    <h3>General configuration</h3>
    We'll be using <input type="number" [(ngModel)]="groupService.totalNumberOfTimers" (ngModelChange)="handleTotalNumberOfTimersSet($event)" min="1" step="1" [disabled]="groupsGenerated"> timers in total<br><br>
    <label title='Select your json file that contains trusted scramblers and capable runners'>&#9432;</label>
    Select scramblers and runners <a ngHref='#here' (click)='exportService.staffExample()'>(click for an example)</a>: <input type="file" id="staff" accept=".json"/><br>
    <label title='Or allow everyone to scramble and run... NOT RECOMMENDED'>&#9432;</label>
    Alternatively: <input type="checkbox" [(ngModel)]="groupService.configuration.everyoneCanScrambleAndRun"><label>Everyone can scramble and run (NOT RECOMMENDED)</label>
    <br><br>

    <input type="checkbox" [(ngModel)]="showAdvanced">Show advanced configuration<br>

    <p *ngIf="showAdvanced">
      <input type="checkbox" [(ngModel)]="groupService.configuration.skipDelegatesAndOrganizers"><label class="advanced">Never assign delegates and organizers to judging</label><br>
    </p>

<!-- EVENTS CONFIGURATION -->
    <h3>Events configuration</h3>
    <table>
      <tr>
        <th></th>
        <th *ngFor="let event of groupService.wcif.events">{{ event.id }}</th>
      </tr>

      <tr>
        <td>(C) Competitors</td>
        <td *ngFor="let event of groupService.wcif.events">{{event.numberOfRegistrations}}</td>
      </tr>

      <tr>
        <td><label title="Do not generate groups for this event. You'll have to assign groups and tasks yourself.">&#9432;</label>Skip event</td>
        <td *ngFor="let event of groupService.wcif.events">
          <input type="checkbox" [(ngModel)]="event.configuration.skip" [disabled]="groupsGenerated">
        </td>
      </tr>
      <tr>
        <td>Scramblegroups</td>
        <td *ngFor="let event of groupService.wcif.events">
          <input type="number" [(ngModel)]="event.configuration.scrambleGroups" min="2" step="1" [disabled]="groupsGenerated" [hidden]="event.configuration.skip">
        </td>
      </tr>
      <tr>
        <td>Stages</td>
        <td *ngFor="let event of groupService.wcif.events">
          <input type="number" [(ngModel)]="event.configuration.stages" (ngModelChange)="handleNumberOfStagesSet($event, event.id)" min="1" step="1" [disabled]="groupsGenerated" [hidden]="event.configuration.skip">
        </td>
      </tr>
      <tr>
        <td><label title="Number of groups is scramblegroups multiplied by stages">&#9432;</label>Number of groups</td>
        <td *ngFor="let event of groupService.wcif.events"><div [hidden]="event.configuration.skip">{{event.configuration.scrambleGroups * event.configuration.stages}}</div></td>
      </tr>
      <tr>
        <td><label title="Number of competitors divided by number of groups">&#9432;</label>Average competitors</td>
        <td *ngFor="let event of groupService.wcif.events"><div [hidden]="event.configuration.skip">{{Math.round(event.numberOfRegistrations / (event.configuration.scrambleGroups * event.configuration.stages) * 10) / 10}}</div></td>
      </tr>
      <tr>
        <td><label title="Total number of timers divided by number of stages. This will be the maximum number of assigned judges per group.">&#9432;</label>(J) Timers per stage</td>
        <td *ngFor="let event of groupService.wcif.events"><div [hidden]="event.configuration.skip">{{Math.round(event.configuration.timers * 10) / 10}}</div></td>
      </tr>
      <tr>
        <td><label title="Amount of runners you want per group">&#9432;</label>(R) Runners</td>
        <td *ngFor="let event of groupService.wcif.events">
          <input type="number" [(ngModel)]="event.configuration.runners" min="0" step="1" [disabled]="groupsGenerated" [hidden]="event.configuration.skip">
        </td>
      </tr>
      <tr>
        <td><label title="Amount of scramblers you want per group">&#9432;</label>(S) Scramblers</td>
        <td *ngFor="let event of groupService.wcif.events">
          <input type="number" [(ngModel)]="event.configuration.scramblers" min="1" step="1" [disabled]="groupsGenerated" [hidden]="event.configuration.skip">
        </td>
      </tr>
    </table>

    <br>
    Edit all options until you're happy, then click: <button [disabled]="groupsGenerated" (click)="handleGenerate()">I'm ready, let's generate groups & tasks</button><br>

<!-- EDIT COMPETITORS GROUPS -->
    <div *ngIf="groupsGenerated">
      <h3>Competitors & group/task assignments</h3>
      Edit all groups and task assignments until you're happy, then click: <button (click)="handleExport(true)">I'm ready, let's export</button><br>
      You can also sort the competitors by the assignments of an event, or re-generate a suggestion for the assignments of an entire event<br><br>

      Filter by name: <input type="text" class="filter" [(ngModel)]="filter" (ngModelChange)="handleFilterChanged($event)"/>
      <table>
        <tr>
          <th></th>
          <th *ngFor="let event of groupService.wcif.events">{{ event.id }}</th>
        </tr>
        <tr>
          <td><button (click)="groupService.sortCompetitorsByName()">Sort by name</button></td>
          <td *ngFor="let event of groupService.wcif.events"><button (click)="handleSortByEvent(event)">Sort</button></td>
        </tr>
        <tr>
          <td></td>
          <td *ngFor="let event of groupService.wcif.events"><button (click)="handleGenerateOneEvent(event.id)">Re-generate</button></td>
        </tr>

        <tr>
          <td>Competitors</td>
          <td *ngFor="let event of groupService.wcif.events">{{event.numberOfRegistrations}}</td>
        </tr>

        <tr *ngFor="let group of groupCounter; let i = index" [attr.data-index]="i">
          <td><label title="C|J|R|S is short for Competitors|Judges|Runners|Scramblers. The numbers will be updated when you make a change to the assignments.">&#9432;</label>
          C|J|R|S Group {{i + 1}}</td>
          <td *ngFor="let event of groupService.wcif.events">{{ event.configuration.skip ? '' : event.groupCounters[i] }}</td>
        </tr>

        <tr *ngFor="let competitor of competitorsToShow">
          <td [ngClass]="{'newCompetitor': ! competitor.wcaId}">{{ competitor.name}}</td>
          <td *ngFor="let event of groupService.wcif.events">
            <input class="group" [(ngModel)]="competitor[event.id].group" (blur)="handleBlurEvent(event.id)">
          </td>
        </tr>
      </table>
    </div>
  </div>

<!-- EXPORT STUFF -->
  <div *ngIf="readyForExport">
    <h3>Export</h3>
    <button (click)="handleExport(false)">Wait, I wasn't ready! Go back to editing</button><br>

    <h4>General</h4>
    <p><button (click)="exportService.csvGroupAndTaskAssignments(this.groupService.wcif)">All group + task assignments (CSV)</button></p>
    <p><button (click)="exportService.pdfTableGroupAndTaskAssignments(this.groupService.wcif)">All group + task assignments (PDF)</button></p>
    <p><button (click)="exportService.pdfGroupOverview(this.groupService.wcif)">Overview per group with names of all competitors, judges, scramblers and runners (PDF)</button></p>
    <p><button (click)="exportService.pdfPersonalSchedules(this.groupService.wcif, this.groupService.configuration.bordersOnNametags)">Personal schedules + nametags (PDF)</button>
        <input type="checkbox" [(ngModel)]="groupService.configuration.bordersOnNametags"><label>Show light borders for cutting and folding</label></p>

    <h4>CubeComps</h4>
    CubeComps assigns id's to competitors in the order of the CSV, therefore you MUST use this as import for CubeComps.
    <p><button (click)="exportService.csvForCubeComps(this.groupService.wcif)">CSV for CubeComps</button></p>

    <h4>Scorecards</h4>
    <a href="https://github.com/Goosly/GenerateScoreCards" target="_blank">See tool on my github</a> and use these files as input:
    <p><button (click)="exportService.csvGroups(this.groupService.wcif)">Groups only (CSV)</button></p>
    <p><button (click)="exportService.csvEvents(this.groupService.wcif)">Event configuration (CSV)</button></p>

  </div>
</div>
